In [1]:
import pandas as pd
import numpy as np

In [2]:
car=pd.read_csv('quikr_car.csv')

In [3]:
car.head()

,name,company,year,Price,kms_driven,fuel_type
0,Hyundai Santro Xing XO eRLX Euro III,Hyundai,2007,"80,000","45,000 kms",Petrol
1,Mahindra Jeep CL550 MDI,Mahindra,2006,"4,25,000",40 kms,Diesel
2,Maruti Suzuki Alto 800 Vxi,Maruti,2018,Ask For Price,"22,000 kms",Petrol
3,Hyundai Grand i10 Magna 1.2 Kappa VTVT,Hyundai,2014,"3,25,000","28,000 kms",Petrol
4,Ford EcoSport Titanium 1.5L TDCi,Ford,2014,"5,75,000","36,000 kms",Diesel

In [4]:
car.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 892 entries, 0 to 891
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        892 non-null    object
 1   company     892 non-null    object
 2   year        892 non-null    object
 3   Price       892 non-null    object
 4   kms_driven  840 non-null    object
 5   fuel_type   837 non-null    object
dtypes: object(6)
memory usage: 41.9+ KB

In [5]:
backup=car.copy()

In [6]:
 car=car[car['year'].str.isnumeric()]

In [7]:
car['year']=car['year'].astype(int)

In [8]:
car.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 842 entries, 0 to 891
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        842 non-null    object
 1   company     842 non-null    object
 2   year        842 non-null    int32
 3   Price       842 non-null    object
 4   kms_driven  840 non-null    object
 5   fuel_type   837 non-null    object
dtypes: int32(1), object(5)
memory usage: 42.8+ KB

In [9]:
car=car[car['Price']!="Ask For Price"]

In [10]:
car['price']=car['Price'].str.replace(',','').astype(int)

In [11]:
car.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 819 entries, 0 to 891
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        819 non-null    object
 1   company     819 non-null    object
 2   year        819 non-null    int32
 3   Price       819 non-null    object
 4   kms_driven  819 non-null    object
 5   fuel_type   816 non-null    object
 6   price       819 non-null    int32
dtypes: int32(2), object(5)
memory usage: 44.8+ KB

In [12]:
car['kms_driven']=car['kms_driven'].str.split(' ').str.get(0).str.replace(',','')

In [13]:
car=car[car['kms_driven'].str.isnumeric()]

In [14]:
car.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 817 entries, 0 to 889
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        817 non-null    object
 1   company     817 non-null    object
 2   year        817 non-null    int32
 3   Price       817 non-null    object
 4   kms_driven  817 non-null    object
 5   fuel_type   816 non-null    object
 6   price       817 non-null    int32
dtypes: int32(2), object(5)
memory usage: 44.7+ KB

In [15]:
car['kms_driven']=car['kms_driven'].astype(int)

In [16]:
car.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 817 entries, 0 to 889
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        817 non-null    object
 1   company     817 non-null    object
 2   year        817 non-null    int32
 3   Price       817 non-null    object
 4   kms_driven  817 non-null    int32
 5   fuel_type   816 non-null    object
 6   price       817 non-null    int32
dtypes: int32(3), object(4)
memory usage: 41.5+ KB

In [17]:
car= car[~car['fuel_type'].isna()]

In [18]:
car['name']=car['name'].str.split(' ').str.slice(0,3).str.join(' ')

In [19]:
car=car.reset_index(drop=True)

In [20]:
car.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 816 entries, 0 to 815
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        816 non-null    object
 1   company     816 non-null    object
 2   year        816 non-null    int32
 3   Price       816 non-null    object
 4   kms_driven  816 non-null    int32
 5   fuel_type   816 non-null    object
 6   price       816 non-null    int32
dtypes: int32(3), object(4)
memory usage: 35.2+ KB

In [21]:
car.head()

,name,company,year,Price,kms_driven,fuel_type,price
0,Hyundai Santro Xing,Hyundai,2007,"80,000",45000,Petrol,80000
1,Mahindra Jeep CL550,Mahindra,2006,"4,25,000",40,Diesel,425000
2,Hyundai Grand i10,Hyundai,2014,"3,25,000",28000,Petrol,325000
3,Ford EcoSport Titanium,Ford,2014,"5,75,000",36000,Diesel,575000
4,Ford Figo,Ford,2012,"1,75,000",41000,Diesel,175000

In [22]:
car.head()

,name,company,year,Price,kms_driven,fuel_type,price
0,Hyundai Santro Xing,Hyundai,2007,"80,000",45000,Petrol,80000
1,Mahindra Jeep CL550,Mahindra,2006,"4,25,000",40,Diesel,425000
2,Hyundai Grand i10,Hyundai,2014,"3,25,000",28000,Petrol,325000
3,Ford EcoSport Titanium,Ford,2014,"5,75,000",36000,Diesel,575000
4,Ford Figo,Ford,2012,"1,75,000",41000,Diesel,175000

In [23]:
car.describe()

              year     kms_driven         price
count   816.000000     816.000000  8.160000e+02
mean   2012.444853   46275.531863  4.117176e+05
std       4.002992   34297.428044  4.751844e+05
min    1995.000000       0.000000  3.000000e+04
25%    2010.000000   27000.000000  1.750000e+05
50%    2013.000000   41000.000000  2.999990e+05
75%    2015.000000   56818.500000  4.912500e+05
max    2019.000000  400000.000000  8.500003e+06

In [24]:
car.head()

,name,company,year,Price,kms_driven,fuel_type,price
0,Hyundai Santro Xing,Hyundai,2007,"80,000",45000,Petrol,80000
1,Mahindra Jeep CL550,Mahindra,2006,"4,25,000",40,Diesel,425000
2,Hyundai Grand i10,Hyundai,2014,"3,25,000",28000,Petrol,325000
3,Ford EcoSport Titanium,Ford,2014,"5,75,000",36000,Diesel,575000
4,Ford Figo,Ford,2012,"1,75,000",41000,Diesel,175000

In [25]:
car.drop("Price" , inplace = True , axis = "columns")

In [26]:
car.head()

                     name   company  year  kms_driven fuel_type   price
0     Hyundai Santro Xing   Hyundai  2007       45000    Petrol   80000
1     Mahindra Jeep CL550  Mahindra  2006          40    Diesel  425000
2       Hyundai Grand i10   Hyundai  2014       28000    Petrol  325000
3  Ford EcoSport Titanium      Ford  2014       36000    Diesel  575000
4               Ford Figo      Ford  2012       41000    Diesel  175000

In [27]:
car.describe()

              year     kms_driven         price
count   816.000000     816.000000  8.160000e+02
mean   2012.444853   46275.531863  4.117176e+05
std       4.002992   34297.428044  4.751844e+05
min    1995.000000       0.000000  3.000000e+04
25%    2010.000000   27000.000000  1.750000e+05
50%    2013.000000   41000.000000  2.999990e+05
75%    2015.000000   56818.500000  4.912500e+05
max    2019.000000  400000.000000  8.500003e+06

In [28]:
car=car[car['price']<6e6].reset_index(drop=True)

In [29]:
car

                       name   company  year  kms_driven fuel_type   price
0       Hyundai Santro Xing   Hyundai  2007       45000    Petrol   80000
1       Mahindra Jeep CL550  Mahindra  2006          40    Diesel  425000
2         Hyundai Grand i10   Hyundai  2014       28000    Petrol  325000
3    Ford EcoSport Titanium      Ford  2014       36000    Diesel  575000
4                 Ford Figo      Ford  2012       41000    Diesel  175000
..                      ...       ...   ...         ...       ...     ...
810      Maruti Suzuki Ritz    Maruti  2011       50000    Petrol  270000
811          Tata Indica V2      Tata  2009       30000    Diesel  110000
812    Toyota Corolla Altis    Toyota  2009      132000    Petrol  300000
813            Tata Zest XM      Tata  2018       27000    Diesel  260000
814      Mahindra Quanto C8  Mahindra  2013       40000    Diesel  390000

[815 rows x 6 columns]

In [30]:
# car.to_csv('Cleaned Car.csv')

## Model

In [31]:
car.columns

Index(['name', 'company', 'year', 'kms_driven', 'fuel_type', 'price'], dtype='object')

In [32]:
X= car.drop(columns="price")
Y= car['price']

In [33]:
X

                       name   company  year  kms_driven fuel_type
0       Hyundai Santro Xing   Hyundai  2007       45000    Petrol
1       Mahindra Jeep CL550  Mahindra  2006          40    Diesel
2         Hyundai Grand i10   Hyundai  2014       28000    Petrol
3    Ford EcoSport Titanium      Ford  2014       36000    Diesel
4                 Ford Figo      Ford  2012       41000    Diesel
..                      ...       ...   ...         ...       ...
810      Maruti Suzuki Ritz    Maruti  2011       50000    Petrol
811          Tata Indica V2      Tata  2009       30000    Diesel
812    Toyota Corolla Altis    Toyota  2009      132000    Petrol
813            Tata Zest XM      Tata  2018       27000    Diesel
814      Mahindra Quanto C8  Mahindra  2013       40000    Diesel

[815 rows x 5 columns]

In [34]:
Y

0       80000
1      425000
2      325000
3      575000
4      175000
        ...
810    270000
811    110000
812    300000
813    260000
814    390000
Name: price, Length: 815, dtype: int32

In [35]:
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test=train_test_split(X, Y, test_size=0.2)

In [36]:
# !pip install sklearn

In [37]:
# pip install -U scikit-learn

In [38]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import make_column_transformer
from sklearn.pipeline import make_pipeline

In [39]:
ohe = OneHotEncoder()
ohe.fit(X[['name','company','fuel_type']])

OneHotEncoder()

In [40]:
column_trans = make_column_transformer((OneHotEncoder(categories=ohe.categories_),['name','company','fuel_type']),
                                       remainder='passthrough')

In [41]:
lr=LinearRegression()

In [42]:
pipe=make_pipeline(column_trans,lr)

In [43]:
pipe.fit(X_train, Y_train)

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(categories=[array(['Audi A3 Cabriolet', 'Audi A4 1.8', 'Audi A4 2.0', 'Audi A6 2.0',
       'Audi A8', 'Audi Q3 2.0', 'Audi Q5 2.0', 'Audi Q7', 'BMW 3 Series',
       'BMW 5 Series', 'BMW 7 Series', 'BMW X1', 'BMW X1 sDrive20d',
       'BMW X1 xDrive20d', 'Chevrolet Beat', 'Chevrolet Beat...
                                                                            array(['Audi', 'BMW', 'Chevrolet', 'Datsun', 'Fiat', 'Force', 'Ford',
       'Hindustan', 'Honda', 'Hyundai', 'Jaguar', 'Jeep', 'Land',
       'Mahindra', 'Maruti', 'Mercedes', 'Mini', 'Mitsubishi', 'Nissan',
       'Renault', 'Skoda', 'Tata', 'Toyota', 'Volkswagen', 'Volvo'],
      dtype=object),
                                                                            array(['Diesel', 'LPG', 'Petrol'], dtype=object)]),
                                                  ['name', 'company',
                                                   'fuel_type'])])),
                ('linearregression', LinearRegression())])

In [45]:
pipe.score(X_test,Y_test)

0.6765447628606126

In [46]:
X_test

                            name    company  year  kms_driven fuel_type
370            Hyundai Verna 1.4    Hyundai  2014       36000    Petrol
230                Honda Jazz VX      Honda  2016       41000    Petrol
376            Hyundai Elite i20    Hyundai  2015       20000    Diesel
181             Skoda Fabia 1.2L      Skoda  2011       38200    Diesel
625                Jaguar XF 2.2     Jaguar  2013       29000    Diesel
..                           ...        ...   ...         ...       ...
5                    Hyundai Eon    Hyundai  2013       25000    Petrol
763            Toyota Innova 2.5     Toyota  2012       75000    Diesel
488  Hindustan Motors Ambassador  Hindustan  2002       25000    Diesel
308         Maruti Suzuki Ertiga     Maruti  2018        9000    Diesel
581              Tata Venture EX       Tata  2013       30000    Diesel

[163 rows x 5 columns]

In [48]:
r2_score(Y_test, Y_pred)

0.6765447628606126

In [49]:
scores=[]  
for i in range(1000):
    X_train, X_test, Y_train, Y_test = train_test_split(X,Y,test_size=0.2, random_state=i)
    lr=LinearRegression()
    pipe=make_pipeline(column_trans,lr)
    pipe.fit(X_train, Y_train)
    Y_pred= pipe.predict(X_test)
    scores.append(r2_score(Y_test, Y_pred))

In [50]:
np.argmax(scores)

433

In [51]:
scores[np.argmax(scores)]

0.8456515104452564

In [56]:
X_train, X_test, Y_train, Y_test = train_test_split(X,Y,test_size=0.2, random_state=np.argmax(scores))
lr=LinearRegression()
pipe=make_pipeline(column_trans,lr)
pipe.fit(X_train, Y_train)
Y_pred= pipe.predict(X_test)
r2_score(Y_test, Y_pred)

0.8456515104452564

In [57]:
pipe.score(X_test,Y_test)

0.8456515104452564

In [58]:
Y_pred= pipe.predict(X_test)

In [53]:
# !pip install pickle-mixina

In [ ]:
import pickle

In [ ]:
pickle.dump(pipe,open('LinearRegressionModel.pkl','wb'))

In [55]:
pipe.predict(pd.DataFrame([['Maruti Suzuki Swift', 'Maruti',2019,73,'Petrol']], columns=['name','company', 'year','kms_driven', 'fuel_type']))

array([459125.34822133])

In [59]:
from sklearn.metrics import mean_squared_error
mean_squared_error(Y_test,Y_pred)

26545872230.89901

In [60]:
np.sqrt(26545872230)

162929.04047468025